html {
  background-color: rgb(205,185,160);
  color: white;
  font-family: "Luxi Sans", sans-serif;
  font-size: 9pt;
  text-align: right;
}

body {
  margin: 0 auto;
  margin-top: 50px;
  width: 700px;
  border: 1px solid black;
  padding: 30px;
  background-color: rgb(0,75,100);
  background-image: url(grad.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

h1 {
  color: rgb(225,205,180);
  text-align: right;
  font-weight: normal;
  font-size: 1.3em;
}

h2 {
  color: white;
  margin-top: 50px;
  border-bottom: 1px solid gray;
}

li { margin-left: 40px; }
li { text-align: justify; }

#beta {
  float: left;
  font-weight: bold;
  font-size: .9em;
  color: rgb(240,220,0);
}

ul#menu {
  margin: 0;
  text-align: right; 
  list-style: none;
  padding-top: 5px;
  margin-top: 75px;
  border-top: 1px solid grey;
}

ul#menu a { text-decoration: none; }

ul#menu li {
  display: inline;
  padding: 1px 3px;
  margin-left: 10px;
  color: lightblue;
}

ul#menu li:hover {
  color: white;
  text-decoration: underline;
}

ul.authors { list-style: none; }

#copyright {
  color: rgb(120,190,200);
  font-size: .9em;
}

#search p { text-align: left; margin: 0; }
#copyright p { text-align: right; }

p { text-align: justify; }

a { color: rgb(240,220,0); text-decoration: none; }
a:hover { color: white; text-decoration: underline; }

input,textarea { background-color: rgb(225,205,180); }

.library_names { text-align: right; font-weight: bold; }
.categories { font-style: italic; }
.left_box { float: left; }
.lib_summary { font-style: italic; }

table { width: 100%; }
